name: bird-CI

on:
   push:
     branches: [main]
     paths-ignore:
      - '*.md'
      - '*.rst'
      - 'README*'
      - 'LICENSE'
      - 'docs/**'

   pull_request:
     branches: [main]
     paths-ignore:
      - '*.md'
      - '*.rst'
      - 'README*'
      - 'LICENSE'
      - 'docs/**'

jobs:
  Lint:
    name: Lint (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
          cache: 'pip'

      - name: Cache Nox
        uses: actions/cache@v4
        with:
          path: .nox
          key: ${{ runner.os }}-lint-nox-${{ hashFiles('noxfile.py') }}

      - name: Install nox
        run: pip install nox

      - name: Formatting and sorting import
        run: nox -s linter

  Unit-Test-BiRD:
    name: Unit-Test-BiRD (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.14']
        os: ['ubuntu-latest', 'macos-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          cache-downloads: true
          cache-env: true

      - name: Install dependencies
        run: |
          micromamba install --yes -n test-env -c conda-forge paraview
          pip install --upgrade pip
          pip install --upgrade nox
          pip install .[tests] 

      - name: Test
        run: nox -s tests -- no-reports


  Unit-Test-pypi-Bird:
    name: Unit-Test-pypi-BiRD (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          cache-downloads: true
          cache-env: true

      - name: Install dependencies
        run: |
          micromamba install --yes -n test-env -c conda-forge paraview
          pip install --upgrade pip
          pip install --upgrade nox
          pip install nlr-bird[tests]

      - name: Test
        run: nox -s tests -- no-reports

  Regression-Test-OF:
    name: Test-OF (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-22.04']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
      - uses: gerlero/setup-openfoam@v1
        with:
          openfoam-version: 9

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          cache-downloads: true
          cache-env: true

      - name: Install dependencies
        run: |
          micromamba install --yes -n test-env -c conda-forge paraview
          pip install --upgrade pip
          pip install .

      - name: Compile solver
        run: |
          cd OFsolvers/birdmultiphaseEulerFoam
          export WM_COMPILE_OPTION=Debug
          ./Allwmake
          cd ../../
      - name: Run deckwer17 PBE
        run: |
          cd experimental_cases/deckwer17
          bash run.sh 
          cd ../../
      - name: Run deckwer17 constantD
        run: |
          cd experimental_cases/deckwer17
          cp constant/phaseProperties_constantd constant/phaseProperties
          bash run.sh 
          cd ../../
      - name: Run deckwer19 PBE
        run: |
          cd experimental_cases/deckwer19
          bash run.sh 
          cd ../../
      - name: Run side sparger tutorial
        run: |
          cd tutorial_cases/side_sparger
          bash run.sh 
          cd ../../
      - name: Run bubble column tutorial
        run: |
          cd tutorial_cases/bubble_column_20L
          bash run.sh 
          cd ../../
      - name: Run stirred-tank tutorial
        run: |
          cd tutorial_cases/stirred_tank
          bash run.sh 
          cd ../../
      - name: Run reactive loop reactor tutorial
        run: |
          cd tutorial_cases/loop_reactor_reacting
          bash run.sh 
          cd ../../
      - name: Run mixing loop reactor tutorial
        run: |
          cd tutorial_cases/loop_reactor_mixing
          bash run.sh 
          cd ../../
      - name: Run airlift reactor tutorial
        run: |
          cd tutorial_cases/airlift_40m
          bash run.sh
          cd ../../
      - name: Run flat panel reactor tutorial
        run: |
          cd tutorial_cases/FlatPanel_250L_ASU
          bash run.sh
          cd ../../

